{% extends 'base.html' %}

{% block content %}
        <div class="hist">
            <div class="title">
                <h1>Order History</h1>
      
            </div>
            <div class="containt">
                <div class="ordet">
                    <div class="pimg"
                        style="height: 150px; width:150px;  flex-shrink:0;">
                        <a href="#"><img src="img.jpg" height="100%"
                                width="100%" style="overflow: hidden;"></a>
                    </div>
                    <div class="details" style="flex-shrink: 0;">
                        <h3>product Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quam sequi inventore beatae tempora
                            laudantium, tenetur asperiores vel cupiditate qui
                            molestiae error a, quis, obcaecati iste? Voluptatum
                            fugit numquam eveniet culpa.</p>
                    </div>

                </div>
                <div class="date">
                    <div class="logo">
                    
                        <p>
                            <i class='bx bxs-user-check'></i>   Delevered on Date
                        </p>
                    </div>
                
                <div class="btns">
                    <button> View Product</button>
                    <button>Buy Again</button>
                </div>
                </div>
            </div>

            <div class="containt">
                <div class="ordet">
                    <div class="pimg"
                        style="height: 150px; width:150px;  flex-shrink:0;">
                        <a href="#"><img src="img.jpg" height="100%"
                                width="100%" style="overflow: hidden;"></a>
                    </div>
                    <div class="details" style="flex-shrink: 0;">
                        <h3>product Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quam sequi inventore beatae tempora
                            laudantium, tenetur asperiores vel cupiditate qui
                            molestiae error a, quis, obcaecati iste? Voluptatum
                            fugit numquam eveniet culpa.</p>
                    </div>

                </div>
                <div class="date">
                    <div class="logo">
                    
                        <p>
                            <i class='bx bxs-user-check'></i>   Delevered on Date
                        </p>
                    </div>
                
                <div class="btns">
                    <button> View Product</button>
                    <button>Buy Again</button>
                </div>
                </div>
            </div>

        </div>
        {% endblock %}